process {
    executor = 'local'  // or 'local' if running locally
    container = 'ontresearch/wf-human-variation:sha2b856c1f358ddf1576217a336bc0e9864b6dc0ed'
}

singularity {
    enabled = false
    autoMounts = true   // Optional
    pullTimeout = '60m' 
}

docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

profiles {
    standard {
       process.executor = 'local'
    }
}
